<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/grpc-sample.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- gRPC 詳細日誌 -->
    <logger name="io.grpc" level="DEBUG" />
    
    <!-- 隱藏 census stats 警告訊息 -->
    <logger name="io.grpc.internal.ServerImplBuilder" level="INFO" />
    
    <!-- 隱藏 Epoll/Nio 平台相關訊息 -->
    <logger name="io.grpc.netty.shaded.io.grpc.netty.Utils" level="INFO" />

    <!-- Netty 詳細日誌 -->
    <logger name="io.grpc.netty" level="DEBUG" />

    <!-- 應用日誌 -->
    <logger name="com.grpcsample" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>